rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userId) {
      return request.auth != null && userId == request.auth.uid;
    }

    match /users/{userId}/memos/{memoId} {
      function isValidMemo(memo) {
        return memo.size() == 3
          && 'title' in memo && memo.title is string
          && 'body' in memo && memo.body is string
          && 'status' in memo && memo.status is string
          && memo.title.size() >= 0 && memo.title.size() <= 50
          && memo.body.size() >= 0 && memo.body.size() <= 300
          && (memo.status == 'live' || memo.status == 'archived' || memo.status == 'trashed');
      }
      allow read: if isUserAuthenticated(userId);
      allow create: if isAuthenticated() && isValidMemo(request.resource.data);
      allow update: if isUserAuthenticated(userId) && isValidMemo(request.resource.data);
      allow delete: if isUserAuthenticated(userId);
    }
  }
}