@import "./property";

html {
  font-size: 62.5%;
  font-family: $font-family;
  background-color: $color-bg;
  color: $color-text;
}

body {
  font-size: $font-size-m;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:visited,
a:hover,
a:active,
a:link {
  color: $color-text;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

$font-size-map: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  s: $font-size-s,
  m: $font-size-m,
  l: $font-size-l,
  xl: $font-size-xl,
  xxl: $font-size-xxl,
  xxxl: $font-size-xxxl,
  xxxxl: $font-size-xxxxl
);

@each $key, $value in $font-size-map {
  .size-#{$key} {
    font-size: $value;
  }
}

.color-success {
  color: $color-success;
}
.color-danger {
  color: $color-danger;
}
.color-warning {
  color: $color-warning;
}
.color-info {
  color: $color-info;
}
.color-primary {
  color: $color-primary;
}
